{% extends "layout.html" %}

{% block title %}Ejercicio 4{% endblock %}

{% block content %}
    <h1 class="title">Ejercicio 4 - Visualizaciones</h1>

    <div class="visualization-grid">
        <div class="visualization-card">
            <h2>Media de Tiempo por Mantenimiento</h2>
            <!-- <img src="{{ url_for('static', filename=static/images/mediaTiempoMantenimiento.png) }}"--> 
                 alt="Media de tiempo de resolución">
        </div>

        <div class="visualization-card">
            <h2>Distribución de Tiempos por Tipo</h2>
            <img src="{{ url_for('static', filename=images/tipoDeIncidente.png) }}" 
                 alt="Diagrama de caja por tipo de incidente">
        </div>

        <div class="visualization-card">
            <h2>Clientes Más Críticos</h2>
            <img src="{{ url_for('static', filename=images/clientesCriticos.png) }}" 
                 alt="Top 5 clientes críticos">
        </div>

        <div class="visualization-card">
            <h2>Actuaciones por Empleado</h2>
            <img src="{{ url_for('static', filename=images/actuacionesEmpleados.png) }}" 
                 alt="Actuaciones por empleado">
        </div>

        <div class="visualization-card">
            <h2>Actuaciones por Día</h2>
            <img src="{{ url_for('static', filename=images/actuacionesDiaSemana.png) }}"
                 alt="Actuaciones por día de la semana">
        </div>
    </div>
{% endblock %}
